<div class="pagination">
    {% if page_obj.has_previous %}
        <button class="prev" onclick="page('{{ page_obj.previous_page_number }}')">&laquo; 이전</button>
    {% else %}
        <button class="prev" disabled>&laquo; 이전</button>
    {% endif %}
    <ul>
    {% for page_number in pagelist %}
        {% if page_number == page_obj.number %}
        <li class="active">
            <a href="javascript:;">{{ page_number }}</a>
        </li>
        {% else %}
            {% if page_number == page_obj.paginator.ELLIPSIS %}
            <li>
                <a href="javascript:;">{{ page_number }}</a>
            </li>
            {% else %}
            <li>
                <a href="javascript:;" onclick="page('{{page_number}}')">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
    {% if page_obj.has_next %}
        <button class="next" onclick="page('{{ page_obj.next_page_number }}')">다음  &raquo;</button>
    {% else %}
        <button class="next" disabled>다음  &raquo;</button>
    {% endif %}
</div>