{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}
    {% endblock %}

    {% block title %}
    <title>D'Nova | Follow up SNS Trend</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/swiper.bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D2S6KD6CFZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-D2S6KD6CFZ');
    </script>
    {% block stylesheets %}{% endblock stylesheets %}
  </head>

  {% csrf_token %}
  {% block body %}
  <body>
    <div class="__web">
      {% block navbar %}
          {% include 'includes/website/navbar.html' %}
      {% endblock %}
      {% block main %}
      <main class="main">
        {% block content %}

        {% endblock %}

      </main>
        {% block footer %}
          {% include 'includes/website/footer.html' %}
        {% endblock %}
      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/swiper.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block javascripts %}
    {% endblock javascripts %}
  </body>
  {% endblock %}
</html>