{% extends "layouts/website_base.html" %}
{% load static %}

{% block title %}
  <title>D'Nova | 이메일 인증</title>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock stylesheets %}


{% block content %}
<section class="login_section">
    <div class="login_container container">
        <form id="loginForm">
            <h2>이메일 메일함을 확인해주세요</h2>

            <div class="not_">
                <span>
                    <b>{{username}} 님, 안녕하세요.</b>
                    회원가입 시 입력하신 이메일 주소로 가입확인 이메일이 발송되었습니다.
                    이메일에 포함된 링크를 클릭하여 계정을 활성화해주세요.
                </span>
                
                    <span>만약 이메일을 받지 못하셨다면? 이메일을 다시 보내보세요.</span>
                
            </div>
            <div class="find">
                
            </div>
            <button type="button" onclick="resend(this)">재전송</button>
        </form>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'website/js/script_user_activation.js' %}?v=20241219"></script>
{% endblock javascripts %}