{% extends "layouts/website_base.html" %}
{% load static %}

{% block title %}
  <title>D'Nova | 이메일 인증완료</title>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock stylesheets %}

{% block content %}

<section class="login_section">
    <div class="login_container container">
        <form id="loginForm">
            <h2>이메일 인증완료</h2>

            <div class="not_">                
                <span>이메일 주소가 성공적으로 확인되었습니다.</span>
                <a href="{% url 'website:login' %}">
                    로그인 하러가기? <span>로그인</span>
                </a>
            </div>
            <div class="find">
            </div>
            <button type="button" onclick="location.href=`{% url 'website:home' %}`">Home</button>
        </form>
    </div>
  </section>

{% endblock %}

{% block javascripts %}
{% endblock javascripts %}