{% extends "layouts/website_base.html" %}
{% load static %}

{% block title %}
  <title>D'Nova | 비밀번호 재설정</title>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock stylesheets %}

{% block content %}

<section class="login_section">
    <div class="login_container container">
        <form id="loginForm">
            <h2>비밀번호 재설정</h2>

            <div class="not_">                
                <span>비밀번호를 재설정할 수 있는 링크를 이메일로 전송했습니다. 몇 분 내로 이메일이 도착하지 않으면 스팸함을 확인해 보세요.</span>
                <a href="{% url 'website:login' %}">
                    로그인 하러가기? <span>로그인</span>
                </a>
            </div>
            <div class="find">
            </div>
            <button type="button" onclick="location.href=`{% url 'website:home' %}`">Home</button>
        </form>
    </div>
  </section>

{% endblock %}

{% block javascripts %}
{% endblock javascripts %}