{% extends "layouts/website_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}


{% block content %}
<div class="main">
    <section class="module">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 mb-sm-40">
            <h4 class="font-alt text-center">Unregistered Email</h4>
            <hr class="divider-w mb-10">
            <p class="text-center text-danger">Please enter the email you signed up with.</p>
            <a class="btn btn-round btn-b btn-block" href="{% url 'website:password_reset' %}">Retry</a>
          </div>
        </div>
      </div>
    </section>

    {% include 'includes/website/footer.html' %}
</div>

{% endblock %}

{% block javascripts %}
{% endblock javascripts %}