{% extends "layouts/website_base.html" %}
{% load static %}

{% block title %}
  <title>D'Nova | 비밀번호 재설정</title>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock stylesheets %}

{% block content %}

<section class="login_section">
    <div class="login_container container">
        <form id="loginForm">
            <h2>가입되지 않은 이메일 입니다.</h2>

            <div class="not_">                
                <span>가입 시 사용한 이메일을 입력해주세요.</span>
            </div>
            <div class="find">
            </div>
            <button type="button" onclick="location.href=`{% url 'website:password_reset' %}`">재시도</button>
        </form>
    </div>
  </section>

{% endblock %}

{% block javascripts %}
{% endblock javascripts %}