{% extends "layouts/website_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block navbar %}
    {% include 'includes/website/main_navbar.html' %}
{% endblock %}

{% block content %}
<section class="home-section home-parallax home-fade home-full-height bg-dark-60 agency-page-header" id="home" data-background="{% static 'images/main/analysis_bg.jpg' %}">
    <div class="titan-caption">
      <div class="caption-content">
        <div class="font-alt mb-30 titan-title-size-1">Grow your digital marketing contents&insights</div>
        <div class="font-alt mb-40 titan-title-size-3">Make marketing <span class="rotate">easy | creative | flexible</span>
        </div><a class="section-scroll btn btn-border-w btn-circle" href="#about">Learn More</a>
      </div>
    </div>
</section>
<div class="main">
    <section class="module">
        <div class="container">
        <div class="row multi-columns-row">
            <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
                <div class="features-icon"><span class="icon-lightbulb"></span></div>
                <h3 class="features-title font-alt">Ideas and concepts</h3>전세계 YouTube 채널 쇼츠 트렉킹을 통한 개인화된 디지털 마케팅 인사이트 제공 및 컨텐츠 제작 지원
            </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
                <div class="features-icon"><span class="icon-tools"></span></div>
                <h3 class="features-title font-alt">Data insights &amp; analysis</h3>"유튜브 쇼츠 데이터 분석을 통한 타깃 오디언스 동향 파악 및 효과적인 콘텐츠 전략 구축
            </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
                <div class="features-icon"><span class="icon-tools-2"></span></div>
                <h3 class="features-title font-alt">Content Optimization & Strategy</h3>최신 트렌드에 기반한 유튜브 쇼츠 컨텐츠 최적화 및 전략적 제안
            </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
                <div class="features-icon"><span class="icon-lifesaver"></span></div>
                <h3 class="features-title font-alt">Competitive Analysis & Benchmarking</h3>유튜브 쇼츠 트렉킹을 통해 경쟁사 모니터링 및 벤치마킹을 통한 경쟁우위 확보
            </div>
            </div>
        </div>
        </div>
    </section>
    <section class="module pt-0 pb-0" id="about">
        <div class="row position-relative m-0">
        <div class="col-xs-12 col-md-6 side-image" data-background="{% static 'images/main/yt.jpg' %}"></div>
        <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
            <div class="row">
            <div class="col-sm-12">
                <h2 class="module-title font-alt align-left">About Us</h2>
                <div class="module-subtitle font-serif align-left">디지털 마케팅 전문가로서, 우리의 서비스를 통해 YouTube 플랫폼에서의 성과를 극대화하고자 하시나요?</div>
                <p>D'NOVA는 SNS 트렌드를 지속적으로 추적하고 파악하여 고객들에게 초 개인화된 가치 있는 인사이트를 제공하는 선도적인 기업입니다. 매주 유튜브 쇼츠 데이터를 철저하게 수집하고 분석하여, 조회수 및 구독자 수의 증감을 세밀히 추적함으로써 어떤 컨텐츠가 고객의 사업 영역과 제품에 부합하는지를 파악합니다.</p>
                <p>우리는 각 쇼츠의 제목, 설명 등의 데이터를 분석하여 어떤 키워드가 사람들의 관심을 끌고 조회수를 높이는지를 파악합니다. 이를 통해 고객들이 자사의 콘텐츠를 최적화하고 효과적인 마케팅 전략을 구축할 수 있도록 돕습니다.</p>
                <p>우리의 목표는 항상 고객들의 성공을 위해 최신 트렌드와 데이터 기반의 전문 지식을 제공하는 것입니다. 디지털 마케팅 영역에서의 성공을 위해 신뢰할 수 있는 파트너로서 함께 노력하겠습니다. 함께하는 모든 고객들의 성공을 위해 최선을 다할 것을 약속 드립니다.</p>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- <section class="module pb-0" id="works">
        <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Our Works</h2>
            <div class="module-subtitle font-serif"></div>
            </div>
        </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
            <ul class="filter font-alt" id="filters">
                <li><a class="current wow fadeInUp" href="#" data-filter="*">All</a></li>
                <li><a class="wow fadeInUp" href="#" data-filter=".illustration" data-wow-delay="0.2s">Illustration</a></li>
                <li><a class="wow fadeInUp" href="#" data-filter=".marketing" data-wow-delay="0.4s">Marketing</a></li>
                <li><a class="wow fadeInUp" href="#" data-filter=".photography" data-wow-delay="0.6s">Photography</a></li>
                <li><a class="wow fadeInUp" href="#" data-filter=".webdesign" data-wow-delay="0.6s">Web Design</a></li>
            </ul>
            </div>
        </div>
        <ul class="works-grid works-grid-gut works-grid-3 works-hover-d" id="works-grid">
            <li class="work-item illustration webdesign"><a href="portfolio_single_featured_image1.html">
                <div class="work-image"><img src="{% static 'assets/images/portfolio/grid-portfolio1.jpg' %}" alt="Portfolio Item"/></div>
                <div class="work-caption font-alt">
                <h3 class="work-title">Corporate Identity</h3>
                <div class="work-descr">Illustration</div>
                </div></a></li>
            <li class="work-item marketing photography"><a href="portfolio_single_featured_image2.html">
                <div class="work-image"><img src="{% static 'assets/images/portfolio/grid-portfolio2.jpg' %}" alt="Portfolio Item"/></div>
                <div class="work-caption font-alt">
                <h3 class="work-title">Bag MockUp</h3>
                <div class="work-descr">Marketing</div>
                </div></a></li>
            <li class="work-item illustration photography"><a href="portfolio_single_featured_slider1.html">
                <div class="work-image"><img src="{% static 'assets/images/portfolio/grid-portfolio3.jpg' %}" alt="Portfolio Item"/></div>
                <div class="work-caption font-alt">
                <h3 class="work-title">Disk Cover</h3>
                <div class="work-descr">Illustration</div>
                </div></a></li>
            <li class="work-item marketing photography"><a href="portfolio_single_featured_slider2.htmll">
                <div class="work-image"><img src="{% static 'assets/images/portfolio/grid-portfolio4.jpg' %}" alt="Portfolio Item"/></div>
                <div class="work-caption font-alt">
                <h3 class="work-title">Business Card</h3>
                <div class="work-descr">Photography</div>
                </div></a></li>
            <li class="work-item illustration webdesign"><a href="portfolio_single_featured_video1.html">
                <div class="work-image"><img src="{% static 'assets/images/portfolio/grid-portfolio5.jpg' %}" alt="Portfolio Item"/></div>
                <div class="work-caption font-alt">
                <h3 class="work-title">Web Design</h3>
                <div class="work-descr">Webdesign</div>
                </div></a></li>
            <li class="work-item marketing webdesign"><a href="portfolio_single_featured_video2.html">
                <div class="work-image"><img src="{% static 'assets/images/portfolio/grid-portfolio6.jpg' %}" alt="Portfolio Item"/></div>
                <div class="work-caption font-alt">
                <h3 class="work-title">Paper clip</h3>
                <div class="work-descr">Marketing</div>
                </div></a></li>
        </ul>
        </div>
    </section>
    <section class="module-small bg-dark">
        <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
            <div class="callout-text font-alt">
                <h3 class="callout-title">Want to see more works?</h3>
                <p>We are always open to interesting projects.</p>
            </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="callout-btn-box"><a class="btn btn-w btn-round" href="portfolio_boxed_gutter_col_3.html">Lets view portfolio</a></div>
            </div>
        </div>
        </div>
    </section> -->
    <hr class="divider-w">
    <section class="module pb-0">
        <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
            <h4 class="font-alt mb-30">Frequently Asked Questions</h4>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#support1">1. D'NOVA는 어떤 데이터를 제공해 주나요?</a></h4>
                </div>
                <div class="panel-collapse collapse in" id="support1">
                    <div class="panel-body">매주 30여개 국가의 채널별 쇼츠를 수집하여 고객의 사업군과 니즈에 맞춰 초개인화된 채널과 쇼츠 데이터를 제공합니다.
                    </div>
                </div>
                </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support2">2. 데이터는 어떻게 수집되나요?</a></h4>
                </div>
                <div class="panel-collapse collapse" id="support2">
                    <div class="panel-body">D'NOVA 자체 크롤링 프로그램을 통해 데이터를 수집합니다.
                    </div>
                </div>
                </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support3">3. 합법적인 데이터인가요?</a></h4>
                </div>
                <div class="panel-collapse collapse" id="support3">
                    <div class="panel-body">네, 유튜브 데이터 사용 가이드라인에 위배 되지 않는 서비스로 데이터 사용에 아무 문제가 되지않습니다.
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="{% static 'assets/images/testimonial_bg.jpg' %}">
        <div class="testimonials-slider pt-140 pb-140">
        <ul class="slides">
            <li>
            <div class="container">
                <div class="row">
                <div class="col-sm-12">
                    <div class="module-icon"><span class="icon-quote"></span></div>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <blockquote class="testimonial-text font-alt">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</blockquote>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="testimonial-author">
                    <div class="testimonial-caption font-alt">
                        <div class="testimonial-title">Jack Woods</div>
                        <div class="testimonial-descr">SomeCompany INC, CEO</div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </li>
            <li>
            <div class="container">
                <div class="row">
                <div class="col-sm-12">
                    <div class="module-icon"><span class="icon-quote"></span></div>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <blockquote class="testimonial-text font-alt">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</blockquote>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="testimonial-author">
                    <div class="testimonial-caption font-alt">
                        <div class="testimonial-title">Jim Stone</div>
                        <div class="testimonial-descr">SomeCompany INC, CEO</div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </li>
            <li>
            <div class="container">
                <div class="row">
                <div class="col-sm-12">
                    <div class="module-icon"><span class="icon-quote"></span></div>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <blockquote class="testimonial-text font-alt">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</blockquote>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="testimonial-author">
                    <div class="testimonial-caption font-alt">
                        <div class="testimonial-title">Adele Snow</div>
                        <div class="testimonial-descr">SomeCompany INC, CEO</div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </li>
        </ul>
        </div>
    </section> -->
    <section class="module" id="pricing">
        <div class="container">
            <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Our Prices</h2>
                <div class="module-subtitle font-serif">고객님의 사업 규모와 니즈에 맞춰 서비스를 사용해 보세요. 우리 쿼리 전문가와 콜을 통해 고객님의 비지니스에 최적화 해서 인사이트와 콘텐츠 제작 지원을 받으세요.</div>
            </div>
            </div>
            <div class="row multi-columns-row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="price-table font-alt">
                <h4>Basic</h4>
                <p class="small">가장 기본적인 데이터로 매주 News Letter와 같은 형식으로 Trend가 된 쇼츠 및 채널 소개</p>
                <div class="borderline"></div>
                <p class="price">50,000원
                </p>
                <ul class="price-details">
                    <li>Weekly 고객 맞춤 채널 및 쇼츠 데이터 제공</li>
                    <li>고객 맞춤 키워드 50개 제공</li>
                    <li>개인화 키워드 50개 필터링</li>
                    <li>Newsletter</li>
                </ul><a class="btn btn-d btn-round" href="javascript:;">Sign Up</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="price-table font-alt">
                <h4>Advanced</h4>
                <p class="small">개인화를 위한 추가 키워드 적용 및 제품 판매&협업 요청할 유튜버 추천</p>
                <div class="borderline"></div>
                <p class="price">200,000원</p>
                <ul class="price-details">
                    <li>Weekly/Monthly 고객 맞춤 채널 및 쇼츠 데이터 제공</li>
                    <li>고객 맞춤 키워드 100개 제공</li>
                    <li>개인화 키워드 100개 필터링</li>
                    <li>제품 판매 적합 유튜브 채널 추천 20개</li>
                    <li>Newsletter</li>
                </ul><a class="btn btn-d btn-round" href="javascript:;">Sign Up</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="price-table font-alt best">
                <h4>Enterprise</h4>
                <p class="small">개인화 키워드 / 추가 분석이 필요한 기업 및 팀에게 완전히 Customize된 요금제로 요청 사항에 따라 금액 차이가 있음</p>
                <div class="borderline"></div>
                <p class="price">500,000원 이상
                </p>
                <ul class="price-details">
                    <li>Weekly/Monthly 고객 맞춤 채널 및 쇼츠 데이터 제공</li>
                    <li>추가 분석 및 인사이트 요청</li>
                    <li>개인화 키워드 고도화</li>
                    <li>제품 판매 적합 유튜브 채널 추천</li>
                    <li>Newsletter</li>
                </ul><a class="btn btn-d btn-round" href="javascript:;">Sign Up</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="price-table font-alt">
                <h4>Ad-hoc (일회성)</h4>
                <div class="borderline">비즈니스에 따른 커스텀 키워드 필터링을 통해 개인화된 채널 및 Shorts 목록 제공
                    현 고객 시장에 중요시 여기는 키워드 제공(SEO 및 컨텐츠 제작에 활용)</div>
                    <p class="small"></p>
                <p class="price">300,000원 + α
                </p>
                <ul class="price-details">
                    <li>커스텀 키워드 및 쿼리 구조 협의에 따른 과금</li>
                    <li>기본 제공 채널/shorts/키워드 50 (추가시 과금)</li>
                    <li>커스터마이즈 인사이트 요청시 과금</li>
                </ul><a class="btn btn-d btn-round" href="javascript:;">Sign Up</a>
                </div>
            </div>
            </div>
            <div class="row mt-40">
            <div class="col-sm-6 col-sm-offset-3 align-center">
                <p>고객님에게 적합한 요금제 및 서비스가 궁금하시다면 contact@d-nova.com을 통해 문의해주세요.</p>
            </div>
            </div>
        </div>
    </section>
    <div class="module-small bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
              <div class="callout-text font-alt">
                <h3 class="callout-title">Subscribe now</h3>
                <p>We will not spam your email.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="callout-btn-box">
                <form id="subscription-form" role="form" method="post" onsubmit="return false;">
                  <div class="input-group">
                    <input class="form-control" type="email" id="semail" name="semail" placeholder="Your Email" required="required" onkeyup="enterkey(this)"/>
                    <span class="input-group-btn"><button class="btn btn-g btn-round" id="subscription-form-submit" type="button">Submit</button></span>
                  </div>
                </form>
                <div class="text-center" id="subscription-response"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <section class="module" id="contact">
        <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Contact us</h2>
            <div class="module-subtitle font-serif"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
            <form id="contactForm" role="form" onsubmit="return false;">
                <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" placeholder="Your Name*" required="required">
                    <p class="text-danger" id="name-error"></p>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="Your Email*" required="required">
                    <p class="text-danger" id="email-error"></p>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="phone">Phone</label>
                    <input class="form-control" type="tel" id="phone" name="phone" placeholder="Your Phone*" required="required">
                    <p class="text-danger" id="phone-error"></p>
                    </div>
                <div class="form-group">
                    <textarea class="form-control" rows="7" id="message" name="message" placeholder="Your Message*" required="required"></textarea>
                    <p class="text-danger" id="message-error"></p>
                </div>
                <div class="text-center">
                    <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="button">Send Message</button>
                </div>
            </form>
            <div class="ajax-response font-alt" id="contactFormResponse"></div>
            </div>
            <div class="col-sm-4">
            <div class="alt-features-item mt-0">
                <div class="alt-features-icon"><span class="icon-megaphone"></span></div>
                <h3 class="alt-features-title font-alt">Where to meet</h3>D'Nova Company<br/>23 Greate Street<br/>Los Angeles, 12345 LS
            </div>
            <div class="alt-features-item mt-xs-60">
                <div class="alt-features-icon"><span class="icon-map"></span></div>
                <h3 class="alt-features-title font-alt">Say Hello</h3>Email: dnova@d-nova.com<br/>Phone: +82 10 8967 1353
            </div>
            </div>
        </div>
        </div>
    </section>
    {% include 'includes/website/footer.html' %}
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'website/js/script_user_main.js' %}?v=20240509"></script>
{% endblock javascripts %}