{% extends "layouts/website_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}


{% block content %}
<div class="main">
    <section class="module">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 mb-sm-40">
            <h4 class="font-alt text-center">Signup</h4>
            <hr class="divider-w mb-10">
            <form class="form" id="signupForm">
              <div class="form-group">
                <div class="form-group">
                  <label for="membername">Name*</label>
                  <small class="text-danger" id="message-membername"></small>
                  <input class="form-control" id="membername" type="text" name="membername" placeholder="First and last name"/>
                </div>
                <div class="form-group">
                  <label for="email">Email*</label>
                  <small class="text-danger" id="message-email"></small>
                  <input class="form-control" id="email" type="email" name="email" placeholder="Email" onchange="checkEmail()"/>
                  <small>After signing up, an account activation email will be sent to your email address.</small>
                </div>
                <label for="username">Username*</label>
                <small class="text-danger" id="message-username"></small>
                <input class="form-control" id="username" type="text" name="username" placeholder="Username" onchange="checkUsername()"/>
              </div>
              <div class="form-group">
                <label for="password">Password*</label>
                <small class="text-danger" id="message-password"></small>
                <input class="form-control" id="password" type="password" name="password" placeholder="At least 8 characters" onchange="checkPassword()"/>
                <input class="form-control" id="re-password" type="password" name="re-password" placeholder="Re-enter Password" onchange="checkPassword()"/>
              </div>
              <div class="form-group">
                <label for="phone">Mobile Number*</label>
                <small class="text-danger" id="message-phone"></small>
                <input class="form-control" id="phone" type="text" name="phone" placeholder="Mobile Number" maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
              </div>

              <div class="form-group">
                <label for="birth">Birth*</label>
                <small class="text-danger" id="message-birth"></small>
                <input class="form-control" id="birth" type="text" name="birth" placeholder="yyyymmdd" maxlength="8" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" onchange="checkBirth()"/>
              </div>
              <div class="form-group">
                <label for="company">Company</label>
                <input class="form-control" id="company" type="text" name="company" placeholder="Company" maxlength="50"/>
              </div>
              <p class="text-danger" id="signup-error"></p>
              <div class="form-group">
                <button class="btn btn-round btn-b btn-block" type="button" id="btn-submit">Signup</button>
              </div>
              <div class="form-group">
                <a href="{% url 'website:login' %}">Already have an account?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    {% include 'includes/website/footer.html' %}
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'website/js/script_user_signup.js' %}"></script>
{% endblock javascripts %}