{% extends "layouts/website_base.html" %}
{% load static %}

{% block title %}
  <title>D'Nova | 회원가입</title>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock stylesheets %}

<p class="success"></p>
<p class="error"></p>
{% block content %}
<section class="login_section">
  <div class="login_container container">
      <form id="signupForm">
          <h2>회원가입</h2>
          <div class="i-box_container">
              <div class="i-box">
                  <label for="membername">이름</label>
                  <input
                      type="text"
                      id="membername"
                      name="membername"
                      placeholder="이름을 입력해주세요."
                      required
                  />
                  <p class="error" id="message-membername"></p>
              </div>
              <div class="i-box">
                  <label for="email">이메일</label>
                  <input
                      type="email"
                      id="email"
                      name="email"
                      placeholder="이메일을 입력해주세요."
                      required
                      onchange="checkEmail()"
                  />
                  <p class="error" id="message-email"></p>
                  <p style="padding-left: 0.5rem;">가입완료 후 계정 활성화를 위한 인증 메일이 발송됩니다.</p>
              </div>
              <div class="i-box">
                  <label for="username">아이디</label>
                  <input
                      type="text"
                      id="username"
                      name="username"
                      placeholder="아이디를 입력해주세요."
                      required
                      onchange="checkUsername()"
                  />
                  <p class="error" id="message-username"></p>
              </div>
              <div class="i-box">
                  <label for="password">비밀번호</label>
                  <input
                      type="password"
                      id="password"
                      name="password"
                      placeholder="비밀번호를 입력해주세요."
                      required
                      onchange="checkPassword()"
                  />
                  <input
                      type="password"
                      id="re-password"
                      name="re-password"
                      placeholder="비밀번호를 다시 입력해주세요."
                      required
                      onchange="checkPassword()"
                  />
                  <p class="error" id="message-password"></p>
              </div>
              <div class="i-box">
                  <label for="phone">휴대폰번호</label>
                  <input
                      type="text"
                      id="phone"
                      name="phone"
                      placeholder="휴대폰번호를 입력해주세요."
                      required
                      maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  />
                  <p class="error" id="message-phone"></p>
              </div>
              <div class="i-box">
                  <label for="birth">생년월일</label>
                  <input
                      type="text"
                      id="birth"
                      name="birth"
                      placeholder="생년월일을 입력해주세요. (ex. yyyymmdd)"
                      required
                      maxlength="8" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" onchange="checkBirth()"
                  />
              </div>
              <div class="i-box">
                  <label for="company">회사</label>
                  <input
                      type="text"
                      id="company"
                      name="company"
                      placeholder="회사명을 입력해주세요."
                      required
                      maxlength="50"
                  />
              </div>
          </div>
          <p class="error" id="signup-error"></p>
          <button type="button" id="btn-submit">회원가입</button>
      </form>
      <div class="not_">
          <span>
              지금 로그인하고 D'Nova의 혁신적인 서비스를
              경험해보세요!
          </span>
          <a href="{% url 'website:login' %}">
              이미 회원이신가요? <span>로그인 하기</span>
          </a>
      </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'website/js/script_user_signup.js' %}?v=20241220></script>
{% endblock javascripts %}