{% extends "layouts/website_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}


{% block content %}
<div class="main">
    <section class="module">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 mb-sm-40">
            <h4 class="font-alt text-center">Signin</h4>
            <hr class="divider-w mb-10">
            <form class="form" id="loginForm">
              <div class="form-group">
                <input class="form-control" id="username" type="text" name="username" placeholder="Username" onkeyup="enterkey(this)"/>
              </div>
              <div class="form-group">
                <input class="form-control" id="password" type="password" name="password" placeholder="Password" onkeyup="enterkey(this)"/>
              </div>
              <p class="text-danger" id="login-error"></p>
              <div class="form-group">
                <button class="btn btn-round btn-b btn-block" type="button" id="btn-login">Signin</button>
              </div>
              <div class="form-group">
                <a href="{% url 'website:password_reset' %}">Forgot Password?</a>
                <a href="{% url 'website:signup' %}" class="pull-right">New to D'Nova?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    {% include 'includes/website/footer.html' %}
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'website/js/script_user_login.js' %}?v=20240426"></script>
{% endblock javascripts %}