{% extends "layouts/website_base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock stylesheets %}

{% block content %}

<section class="main_section">
    <div class="main_section_inner container">
        <h2>D'Nova</h2>
        <div class="t-box">
            <h3>
                트렌드와 인사이트로 <span>디지털 마케팅</span>의
                경쟁력을 높여보세요.
            </h3>
            <p>
                복잡한 마케팅, 이제는 간단하고 스마트하게!<br />
                더 창의적이고 새로운 아이디어로<br />
                유연하게 변화를 주도하는 마케팅을 시작하세요.
            </p>
        </div>
    </div>
</section>
<section class="main_about" data-scroll="about">
    <div class="main_about_container container">
        <div class="about_t">
            <div class="t-box">
                <h4>
                    <img
                        src="{% static 'images/icons/icon_logo_foot.png' %}"
                        alt="D'Nova"
                    />
                </h4>
                <span>D'Nova는 어떤 곳인가요?</span>
            </div>
            <p>
                D'NOVA는 YouTube Shorts 데이터를 기반으로 최신
                트렌드 분석과 마케팅 인사이트를 제공하는<br />
                디지털 마케팅 솔루션 기업입니다.
            </p>
        </div>
        <div class="about_g">
            <div class="group member">
                <img
                    src="{% static 'images/icons/icon_membership.png' %}"
                    alt="이용자"
                />
                <span>이용자</span>
            </div>
            <div class="group nova">
                <img
                    src="{% static 'images/icons/icon_logo.png' %}"
                    alt="D'Nova"
                />
                <span>D'Nova Marketing</span>
            </div>
            <div class="group user">
                <img
                    src="{% static 'images/icons/icon_users.png' %}"
                    alt="고객"
                />
                <span>고객</span>
            </div>
        </div>
    </div>
</section>
<section class="main_our">
    <div class="our_container container">
        <div class="our_group">
            <img
                src="{% static 'images/bg/bg_mission.png' %}"
                alt="Our Mission"
            />
            <div>
                <h5>Our Mission</h5>
                <p>
                    고객의 성공을 데이터로 설계하며, 실행 가능한
                    인사이트와 솔루션으로 더 나은 비즈니스
                    의사결정을 지원합니다.
                </p>
            </div>
        </div>
        <div class="our_group">
            <div>
                <h5>Our Vision</h5>
                <p>
                    디지털 마케팅 산업의 혁신과 발전을 선도하며,
                    실행 가능한 데이터와 트렌드를 통해 고객이
                    변화하는 SNS 환경에서 지속적으로 앞서 나갈
                    수 있도록 돕는 글로벌 리더가 되는 것을
                    목표로 합니다.
                </p>
            </div>
            <img
                src="{% static 'images/bg/bg_vision.png' %}"
                alt="Our Vision"
            />
        </div>
    </div>
</section>
<section class="main_value">
    <div class="value_container container">
        <div class="t-box">
            <h4>
                <img
                    src="{% static 'images/icons/icon_logo_foot.png' %}"
                    alt="D'Nova"
                />
            </h4>
            <span>D'Nova의 핵심 가치</span>
        </div>
        <div class="swiper serviceSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide service-item">
                    <div class="service_inner">
                        <span>Core Value</span>
                        <h6>01. 데이터 중심</h6>
                        <p>
                            D'Nova 마케팅 서비스는 데이터 기반의
                            정밀한 분석과<br />
                            인사이트 제공으로 고객의 의사결정을
                            지원합니다.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide service-item">
                    <div class="service_inner">
                        <span>Core Value</span>
                        <h6>02. 효율성 증대</h6>
                        <p>
                            D'Nova 마케팅 서비스는 고객의 시간과
                            자원을 절약하고<br />
                            더 나은 결과를 낼 수 있는 솔루션을
                            제공합니다.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide service-item">
                    <div class="service_inner">
                        <span>Core Value</span>
                        <h6>03. 혁신</h6>
                        <p>
                            D'Nova 마케팅 서비스는 지속적인 제품
                            개발을 통해<br />
                            최신 기술과 드렌드를 반영한 서비스를
                            제공합니다.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide service-item">
                    <div class="service_inner">
                        <span>Core Value</span>
                        <h6>04. 지속 가능성</h6>
                        <p>
                            D'Nova 마케팅 서비스는 디지털 마케팅
                            생태계를<br />
                            장기적으로 강화하고 지속 가능한
                            성장을 추구합니다.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide service-item">
                    <div class="service_inner">
                        <span>Core Value</span>
                        <h6>05. 협력과 신뢰</h6>
                        <p>
                            D'Nova 마케팅 서비스는 고객과의
                            긴밀한 협럭을 바탕으로<br />
                            데이터를 기반하여 신뢰할수 있는
                            파트너 관계를 구축합니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<section class="main_price" data-scroll="price">
    <div class="price_container container">
        <div class="t-box">
            <h4>
                <img
                    src="{% static 'images/icons/icon_logo_foot.png' %}"
                    alt="D'Nova"
                />
            </h4>
            <span>D'Nova의 요금 안내</span>
            <p>목적에 맞는 적합한 멤버십을 선택해보세요!</p>
        </div>
        <div class="price_inner">
            <div class="price">
                <span>기본형</span>
                <div class="price-d">
                    <b>₩ 60,000 <span>/ 월</span></b>
                </div>
                <ul>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >15개 카테고리중 택 3 카테고리
                            트렌드 제공(PDF)
                        </span>
                    </li>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >각 카테고리별 Top 50 쇼츠 데이터
                            제공(Excel)
                        </span>
                    </li>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >각 카테고리별 Highlight 키워드 Top
                            20 제공(Excel)
                        </span>
                    </li>
                </ul>
                <button class="start">시작하기</button>
            </div>
            <div class="price default" data-default="true">
                <span>고급형</span>
                <div class="price-d">
                    <b>₩ 200,000 <span>/ 월</span></b>
                </div>
                <ul>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >15개 카테고리중 택 10 카테고리
                            트렌드 제공(PDF)
                        </span>
                    </li>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >각 카테고리별 Top 100 쇼츠 데이터
                            제공(Excel)
                        </span>
                    </li>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >각 카테고리별 Highlight 키워드 Top
                            50 제공(Excel)
                        </span>
                    </li>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >고객 요청 키워드 20개 매칭 쇼츠 Top
                            50 전달 (월별 키워드 변경 가능,
                            키워드 추가당 추가 금액:
                            10개:20000원, Excel)
                        </span>
                    </li>
                </ul>
                <button class="start">시작하기</button>
            </div>
            <div class="price">
                <span>맞춤형</span>
                <div class="price-d">
                    <b>₩ 600,000~ <span>/ 월</span></b>
                </div>
                <ul>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >15개 카테고리중 모든 카테고리 별
                            트렌드 제공(PDF)
                        </span>
                    </li>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            ><span
                                >고객 요구사항에 따른 쇼츠
                                인사이트 리포트 제공</span
                            >
                            (경쟁사 분석, 개인화 키워드, 니즈에
                            따른 컨텐츠 기획 방안 등, PDF)
                        </span>
                    </li>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >각 카테고리별 Top 100 쇼츠 데이터
                            제공(Excel)
                        </span>
                    </li>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >고객 개인화 Highlight 키워드 Top
                            100 제공(Excel)
                        </span>
                    </li>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >각 카테고리별 Highlight 키워드 Top
                            100 제공
                        </span>
                    </li>
                    <li>
                        <img
                            src="{% static 'images/icons/icon_checked.svg' %}"
                            alt="사용가능"
                        />
                        <span
                            >고객 요청 customize 키워드 매칭
                            관련 쇼츠 전달
                        </span>
                    </li>
                    <li>
                        <strong
                            >Customize 요금제는 고객과의 미팅을
                            통해 상정됩니다.
                        </strong>
                    </li>
                </ul>
                <button class="start">시작하기</button>
            </div>
        </div>
    </div>
</section>
<section class="main_submit">
    <div class="submit_cointainer container">
        <div class="submit_inner">
            <div class="t-box">
                <span>
                    지금 바로 D'Nova의 <br />
                    서비스를 이용해보세요!
                </span>
            </div>
            <div class="i-box">
                <input
                    type="text"
                    placeholder="이메일을 입력해주세요"
                    id="semail"
                />
                <button id="btn_subscription">구독하기</button>
            </div>
        </div>
    </div>
</section>
<section class="main_contact" data-scroll="contact">
    <div class="contact_container container">
        <div class="t-box">
            <h4>
                <img
                    src="{% static 'images/icons/icon_logo_foot.png' %}"
                    alt="D'Nova"
                />
            </h4>
            <span>서비스 문의하기</span>
        </div>
        <form class="contact_inner" id="contactForm">
            <div class="i-box">
                <label for="name">성함</label>
                <input
                    type="name"
                    id="name"
                    name="name"
                    placeholder="이름을 입력해주세요 (필수)"
                />
                <p class="error" id="name-error"></p>
            </div>
            <div class="i-box">
                <label for="company">회사</label>
                <input
                    type="text"
                    id="company"
                    name="company"
                    placeholder="회사명을 입력해주세요 (선택)"
                />
            </div>
            <div class="i-box">
                <label for="job">업종 및 직무</label>
                <input
                    type="text"
                    id="job"
                    name="job"
                    placeholder="업종 및 직무를 입력해주세요 (선택)"
                />
            </div>
            <div class="i-box">
                <label for="phone">전화번호</label>
                <input
                    type="text"
                    id="phone"
                    name="phone"
                    placeholder="전화번호를 입력해주세요 (필수)"
                />
                <p class="error" id="phone-error"></p>
            </div>
            <div class="i-box">
                <label for="email">이메일</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="이메일을 입력해주세요 (필수)"
                />
                <p class="error" id="email-error"></p>
            </div>
            <div class="i-box">
                <label for="message">문의 내용</label>
                <textarea
                    id="message"
                    name="message"
                    placeholder="D’NOVA를 통해 얻고자 하는 바, 자세히 작성 부탁드립니다.(브랜딩, 제품 판매, 조회수 증가 etc.)"
                ></textarea>
                <p class="error" id="message-error"></p>
            </div>
            <button type="button" id="btn_submit">문의하기</button>
        </form>
    </div>
</section>
<div class="service_modal">
    <div class="service_modal_inner">
        <div class="modal-t">
            <h6>D'NOVA 서비스 개발 안내</h6>
            <p>
                현재 D'NOVA의 제품은 개발 중입니다. <br />
                프로토타입 준비 시, Customize 리포트 예시를 제공해 드릴
                예정입니다.
            </p>
        </div>
        <div class="modal-c">
            <span>정식 출시 혜택</span>
            <p>
                출시 후 3개월간 50% 할인된 가격으로 서비스를 이용하실 수
                있습니다.
            </p>
        </div>
        <div class="modal-b">
            <span>문의 및 안내 요청</span>
            <ul>
                <li>연락처</li>
                <li>원하시는 인사이트</li>
                <li>주제</li>
            </ul>
            <p>
                위 내용을 남겨주시면 순서대로 안내해 드리겠습니다.<br />
                기다려주셔서 감사합니다.<br />
                더 나은 서비스로 보답하겠습니다.
            </p>
        </div>
        <button class="btn_contact">문의하기</button>
    </div>
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{% static 'website/js/script_user_main.js' %}?v=20241220"></script>
{% endblock javascripts %}