{% extends "layouts/website_base.html" %}
{% load static %}

{% block title %}
  <title>D'Nova | 로그인</title>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock stylesheets %}


{% block content %}

<section class="login_section">
  <div class="login_container container">
      <form id="loginForm">
          <h2>로그인</h2>
          <div class="i-box_container">
              <div class="i-box">
                  <label for="username">아이디</label>
                  <input
                      type="text"
                      id="username"
                      name="username"
                      placeholder="아이디를 입력해주세요."
                      onkeyup="enterkey(this)"
                  />
              </div>
              <div class="i-box">
                  <label for="password">비밀번호</label>
                  <input
                      type="password"
                      id="password"
                      name="password"
                      placeholder="비밀번호를 입력해주세요."
                      onkeyup="enterkey(this)"
                  />
              </div>
              <p class="error" id="login-error"></p>
          </div>
          <div class="find">
              <a href="{% url 'website:find_username' %}">아이디 찾기</a>|
              <a href="{% url 'website:password_reset' %}">비밀번호 찾기</a>
          </div>
          <button type="button" id="btn-login">로그인</button>
      </form>
      <div class="not_">
          <span
              >지금 가입하고 D'Nova의 혁신적인 서비스를
              경험해보세요!</span
          >
          <a href="{% url 'website:signup' %}">
              아직 회원이 아니신가요? <span>회원가입</span>
          </a>
      </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'website/js/script_user_login.js' %}?v=20241219"></script>
{% endblock javascripts %}