{% extends "layouts/website_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}


{% block content %}
<div class="main">
    <section class="module">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-md-2 sidebar">
              <div class="widget">
                <form role="form">
                  <div class="search-box">
                    <input class="form-control" type="text" name="search" placeholder="Search..." value="{{search}}"/>
                    <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                  </div>
                </form>
              </div>
              <div class="widget">
                <h5 class="widget-title font-alt">Tags</h5>
                <ul class="icon-list">
                  <li><a href="{% url 'website:blog'%}">전체보기  ({{blog_total_count}})</a></li>
                  {% for i in blog_tag_list %}
                  <li><a href="{% url 'website:blog'%}?tag={{i.name}}">{{i.name}}  ({{i.tag_count}})</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
   
              <div class="post">
                {% if blog.image %}
                <div class="post-thumbnail">
                  <a href="#"><img src="{{blog.image.url}}" alt="Blog-post Thumbnail"/></a>
                </div>
                {% endif %}
                <div class="post-header font-alt">
                  <h2 class="post-title"><a href="javascript:;">{{blog.title}}</a></h2>
                  <div class="post-meta">By&nbsp;<a href="javascript:;">{{blog.user}}</a>| {{blog.created_at|date:"y.m.d"}} |
                  </div>
                </div>
                <div class="post-entry">
                  {{blog.content|safe}}    
                </div>
                {% if blog.blog_tag.all %}
                <div class="tags font-serif mt-10">
                  {% for i in blog.blog_tag.all %}
                    <a href="{% url 'website:blog'%}?tag={{i.name}}" rel="tag">{{i.tag.name}}</a>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
              <div>
                {% if user == blog.user %}
                  <a class="btn btn-border-d btn-round" href="{% url 'website:blog_edit' blog.pk %}">Edit POST</a>
                  <button class="btn btn-b btn-round" type="button" onclick="deletePost(this)">Delete POST</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>

    {% include 'includes/website/footer.html' %}
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'website/js/script_blog_detail.js' %}"></script>
{% endblock javascripts %}