.__web {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login_section {
    padding: 6.4rem 0 9rem;
}
.login_section form {
    max-width: 45rem;
    margin: 0 auto;
}
.login_section form h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--222);
    text-align: center;
}
.login_section form > button {
    width: 100%;
    height: 4rem;
    border: 0;
    border-radius: 0.4rem;
    background-color: var(--4D4D4D);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--FFFFFF);
    margin-top: 2rem;
}
.i-box_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 4rem 0 0.6rem;
}
.i-box {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.i-box label {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--222);
}
.i-box input {
    width: 100%;
    height: 4rem;
    padding: 0 1.2rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--D9D9D9);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--222);
    outline: none;
}
.i-box input::placeholder {
    color: var(--A1A1A1);
}
.not_ {
    max-width: 45rem;
    margin: 3rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}
.not_ > span {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--6C6C6C);
    margin-bottom: 0.6rem;
}
.not_ a {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--939393);
}
.not_ a span {
    color: var(--4D4D4D);
    font-weight: 700;
}
