{% extends "layouts/website_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}


{% block content %}
<div class="main">
    <section class="module">
        <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="module-title font-alt">Email verified</h2>
                <div class="module-subtitle font-serif">
                    Your email address was successfully verified.
                    <hr>
                    <a class="btn btn-d btn-round" href="{% url 'website:home' %}">Home</a>
                </div>
            </div>
        </div>
        </div>
    </section>
    {% include 'includes/website/footer.html' %}
</div>

{% endblock %}

{% block javascripts %}
{% endblock javascripts %}