{% extends "layouts/website_base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
  <title>D'Nova | Blog</title>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock stylesheets %}


{% block content %}
<div class="blog">
  <div class="container">
      <div class="search_inner">
        <form method="get">
          <div class="search">
              <img
                  src="{% static 'images/icons/icon_search.svg' %}"
                  alt="검색"
              />
              <input
                  type="text"
                  name="search"
                  placeholder="검색어를 입력하세요"
                  value="{{search}}"
              />
          </div>
        </form>
      </div>
  </div>
  <div class="blog_container container">
      <aside class="blog_aside">
          <div class="s-box">
              <span>태그 목록</span>
          </div>
          <nav class="blog_nav">
              <ul>
                  {% if user.is_superuser %}
                    <li><a href="{% url 'website:blog_create' %}"><b>*** 글 작성하기 ***</b></a></li>
                  {% endif %}
                  <li {% if not tag %}class="active"{% endif %} ><a href="{% url 'website:blog'%}">전체보기  ({{blog_total_count}})</a></li>
                  {% for i in blog_tag_list %}
                  <li {% if i.name == tag %}class="active"{% endif %}><a href="{% url 'website:blog'%}?tag={{i.name}}">{{i.name}}  ({{i.tag_count}})</a></li>
                  {% endfor %}
              </ul>
          </nav>
      </aside>
      <article class="blog-list_container">
          {% if search %}
            <span style="font-size: 1.8rem;">총 <strong>{{search_count|intcomma}}개</strong>의 포스트를 찾았습니다.</span>
          {% endif %}
          <ul class="blog-list">
            {% for i in page_obj %}
              <li>
                  <a href="{% url 'website:blog_detail' i.id %}">
                    {% if i.imageUrl %}
                      <img src="{{i.imageUrl}}" alt="Blog-post Thumbnail"/>
                    {% else %}
                      <img
                          src="{% static 'images/dummy/rec.png' %}"
                          alt="더미이미지"
                      />
                    {% endif %}
                  </a>
                  <div class="blog-info">
                      <a href="{% url 'website:blog_detail' i.id %}">{{i.title}}</a>
                      <p>{{i.content|striptags|truncatechars:250|safe}}</p>
                  </div>
                  <div class="blog-detail">
                      <span class="date">{{ i.created_at|date:"Y년 m월 d일" }}</span>
                  </div>
                  {% if i.tags %}
                  <div class="tags font-serif">
                    {% for tag in i.tags %}
                      <a href="{% url 'website:blog'%}?tag={{tag}}" rel="tag">{{tag}}</a>
                    {% endfor %}
                  </div>
                  {% endif %}
              </li>
            {% endfor %}
          </ul>
          {% include 'pagination.html' %}
      </article>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{% static 'website/js/script_pagination.js' %}"></script>
{% endblock javascripts %}