{% extends "layouts/website_base.html" %}
{% load static %}

{% block title %}
  <title>D'Nova | Blog 포스팅</title>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<link rel="stylesheet" href="{% static 'website/summernote/summernote-lite.min.css' %}">
{% endblock stylesheets %}

{% block content %}
<section class="login_section">
  <div class="login_container container">
      <form id="data-form" style="max-width: 100rem;">
          <h2>블로그 포스팅 수정</h2>
          <div class="i-box_container">
              <div class="i-box">
                  <label for="title">제목</label>
                  <input
                      type="text"
                      id="title"
                      name="title"
                      placeholder="제목을 입력해주세요. (필수)"
                      value="{{blog.title}}"
                  />
              </div>
              <div class="i-box">
                  <label for="content">내용</label>
                  <textarea id="content" name="content">{{blog.content}}</textarea>
              </div>
              <div class="i-box">
                <label for="tags">태그 (선택)</label>
                <input
                    type="text"
                    id="tags"
                    name="tags"
                    placeholder="Tags"
                    value="{{tags}}"
                />
                <p class="success">, 로 태그 구분해서 작성. 예) D`Nova, tag, post</p>
              </div>
              <div class="i-box">
                <label for="image">썸네일 (변경 시에만 첨부)</label>
                <input
                    type="file"
                    id="image"
                    name="image"
                    accept="image/*"
                />
              </div>
          </div>
          <div class="find">
          </div>
          <button type="button" id="btn_edit">수정</button>
      </form>
  </div>
</section>
{% endblock %}

{% block javascripts %}
<script src="{% static 'website/summernote/summernote-lite.min.js' %}"></script>
<script src="{% static 'website/summernote/lang/summernote-ko-KR.js' %}"></script>
<script src="{% static 'js/script_summernote.js' %}?v=20241220"></script>
<script type="text/javascript" src="{% static 'website/js/script_blog_edit.js' %}?v=20241220"></script>
{% endblock javascripts %}