{% load static %}

<footer class="footer">
  <div class="footer_container container">
      <div class="footer_inner">
          <ul>
              <li>상호명: D'Nova | 대표: 이현준</li>
              <li>
                  연락처: 010 8967 1353 | 이메일:
                  <a href="mailto:dnova@d-nova.com"
                      >dnova@d-nova.com</a
                  >
              </li>
              <li>
                  주소: 서울 | 사업자등록번호: 123-45-67890 |
                  통신판매: 1234-서울-1234 | 호스팅제공자: D'Nova
              </li>
              <li></li>
          </ul>
          <p>© 2024 D'Nova, All Rights Reserved</p>
      </div>
  </div>
</footer>