{% load static %}

<header class="header">
  <div class="header_container container">
      <a href="{% url 'website:home' %}" class="header_logo">
          <img src="{% static 'images/icons/icon_logo.png' %}" alt="D'Nova" />
      </a>
      <div class="header_inner">
          <nav class="header_nav">
              <ul>
                  <li>
                      <a href="{% if request.path != '/' %}/{% endif %}#about">회사소개</a>
                  </li>
                  <li>
                      <a href="{% if request.path != '/' %}/{% endif %}#price">이용금액</a>
                  </li>
                  <li>
                      <a href="{% url 'website:blog' %}">블로그</a>
                  </li>
                  <li>
                      <a href="{% if request.path != '/' %}/{% endif %}#contact">문의하기</a>
                  </li>
              </ul>
          </nav>
          {% if user.is_authenticated %}
            <a href="{% url 'website:logout' %}">로그아웃</a>
          {% else %}
            <a href="{% url 'website:login' %}">로그인</a>
          {% endif %}
      </div>
  </div>
</header>